body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    margin-bottom: 10px;
}
ul li.checked {
    text-decoration: line-through;
    opacity: 0.6;
}
/* Add these styles to your existing styles.css or within a <style> tag in the HTML head */
button {
    background-color: burlywood; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

button:hover {
   
    transform: scale(1.05); /* Slightly increase size on hover */
}
